body {
    display: flex;
    text-align: center;
    font-weight: bold;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 640px) {

  }

  .square {
      background-color: white;
      border: 1px solid;
      width: 300px;
      height: 300px;
      margin: 0 auto 20px auto;
  }